<div class="profile-timeline order-status bg-white p-3">
    <div ngbAccordion activeIds="static-1">
        <div ngbAccordionItem [collapsed]="false" id="static-1">
            <div ngbAccordionHeader>
                <button ngbAccordionButton class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                        aria-expanded="true" aria-controls="collapseOne">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="assets/images/logo-sm.png" alt="Dyah Ajeng Salsabilla - Laboratory Assistant"
                                 class="avatar-xs rounded-circle material-shadow"/>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-14 mb-1">
                                Laboratory Assistant - <b>PT Java Indo Arjuna</b>
                            </h6>
                            <small class="text-muted">
                                September 2022 - December 2022 | <b>Malang</b>
                            </small>
                        </div>
                    </div>
                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="accordion-body ps-5 ms-2">
                    As a lab staff responsible for leading orchid sub-cultures, observing the sterilization of
                    orchid explants using Nanobubbles, overseeing the transition of orchids from the laboratory to
                    the plasma, and ensuring orchids survive until the acclimatization process. With
                    responsibilities such as:
                    <ul>
                        <li>
                            Conducting orchid sub-cultures by applying Nanobubbles technology to ensure successful
                            in vitro plantlet growth.
                        </li>
                        <li>
                            Implementing the transition process of orchids from the laboratory environment to the
                            plasma, ensuring smooth adaptation and optimal growth.
                        </li>
                        <li>
                            Performing regular orchid sample tests to monitor the health and development of the
                            plants in various growth environments.
                        </li>
                    </ul>
                    <div class="row g-2">
                        <div class="col-auto">
                            <div class="d-flex border border-dashed p-2 rounded position-relative">
                                <div class="flex-shrink-0">
                                    <i class="ri-file-pdf-fill fs-17 text-danger"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <h6>
                                        <a href="https://repository.unisma.ac.id/handle/123456789/9544" target="_blank"
                                           class="stretched-link">
                                            Pengaruh Spektrum Warna dan Penambahan Nanobubbles Nitrogen (NBs 𝐍𝟐)
                                            Terhadap Pertumbuhan Anggrek Dendrobium sp. secara In Vitro.
                                        </a>
                                    </h6>
                                    <small><b>UNISMA</b> 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngbAccordionItem [collapsed]="false" id="static-2">
            <div ngbAccordionHeader>
                <button ngbAccordionButton class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                        aria-expanded="false" aria-controls="collapseTwo">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="assets/images/logo-sm.png" alt="Dyah Ajeng Salsabilla - Laboratory Assistant"
                                 class="avatar-xs rounded-circle material-shadow"/>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-14 mb-1">
                                Laboratory Helper - <b>Balai Penelitian Tanaman Pemanis dan Serat</b>
                            </h6>
                            <small class="text-muted">
                                July 2017 - October 2017 | <b>Malang</b>
                            </small>
                        </div>
                    </div>
                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="accordion-body ps-5">
                    As a Laboratory Assistant, responsible for supporting laboratory operations and performing various
                    essential tests and analyses. Main tasks include:
                    <ul>
                        <li>
                            Chemical Extraction: Extracting chemicals from natural sources such as sunflower seeds using
                            appropriate and safe procedures.
                        </li>
                        <li>
                            Ash Content Testing: Conducting ash content tests on banana tree stem samples to determine
                            their composition and quality, ensuring compliance with laboratory standards.
                        </li>
                        <li>
                            Glucose Level Analysis: Analyzing glucose levels in sugarcane samples, involving meticulous
                            testing processes to ensure the accuracy of the results.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
