<!-- start marketplace -->
<section class="section bg-light" id="marketplace">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center mb-5">
                    <h2 class="mb-3 fw-semibold lh-base">My Experience and Skills</h2>
                    <p class="text-muted mb-4">
                        Explore my professional journey and expertise in Quality Control,
                        Marketing, and Content Creation. Each project showcases my commitment to excellence and
                        creativity.
                    </p>
                    <ul ngbNav #Portofolio="ngbNav" [activeId]="1"
                        class="nav nav-pills animation-nav nav-justified gap-2 mb-3">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>
                                Quality Control <i class="ri-star-fill text-warning align-middle ms-1"></i>
                            </a>
                            <ng-template ngbNavContent>
                                <app-quality-control></app-quality-control>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink>
                                Marketing Specialist
                            </a>
                            <ng-template ngbNavContent>
                                <app-marketing></app-marketing>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3">
                            <a ngbNavLink>
                                Content Creator <i class="ri-heart-2-fill text-danger align-middle ms-1"></i>
                            </a>
                            <ng-template ngbNavContent>
                                <app-content-creator></app-content-creator>
                            </ng-template>
                        </li>
                    </ul>
                    <div class="tab-content text-muted">
                        <div [ngbNavOutlet]="Portofolio"></div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end marketplace -->
