<!-- start faqs -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h3 class="mb-3 fw-semibold">Frequently Asked Questions</h3>
                    <p class="text-muted mb-4 ff-secondary">
                        If you cannot find the answer to your question in our FAQs, feel free to contact me via email or
                        social media above. I will respond promptly!</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row g-lg-5 g-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0 me-1">
                        <i class="ri-question-line fs-24 align-middle text-success me-1"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="mb-0 fw-semibold">General Questions</h5>
                    </div>
                </div>
                <div class="custom-accordion-border">
                    <div ngbAccordion activeIds="static-1" [closeOthers]="true">
                        <div ngbAccordionItem id="static-1">
                            <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                <button ngbAccordionButton>How can I contact you for inquiries or collaborations ?
                                </button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ff-secondary">
                                    You can reach me via email at <b>{{ 'dyahajengsalsabilla@gmail.com' }}</b> or through direct
                                    messages on Instagram, TikTok, or X above
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="static-2">
                            <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                <button ngbAccordionButton>What is the best way to get a quick response from you?
                                </button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ff-secondary ">
                                    For a prompt response, contacting me via direct messages on Instagram, Tiktok or X
                                    is
                                    usually the fastest. Email is also checked frequently, and I strive to respond
                                    within 24 hours.
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="static-3">
                            <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                <button ngbAccordionButton>What is my experience in quality control?</button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ff-secondary">
                                    I have 1 years of experience in quality control on laboratory, ensuring that all
                                    content meets high standards of accuracy and professionalism.
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="static-4">
                            <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                <button ngbAccordionButton>What are my key achievements in marketing?</button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ff-secondary">
                                    I possess extensive marketing experience at PT Propan ICC, a prominent company in
                                    the paint and coatings industry. My role involved building strong relationships with
                                    clients and customers, as well as developing effective marketing strategies.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0 me-1">
                        <i class="ri-shield-keyhole-line fs-24 align-middle text-success me-1"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="mb-0 fw-semibold">Privacy</h5>
                    </div>
                </div>

                <div class="custom-accordion-border">
                    <div ngbAccordion activeIds="static-1" [closeOthers]="true">
                        <div ngbAccordionItem id="static-1">
                            <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                <button ngbAccordionButton>What are my dos for content creation?</button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ff-secondary">
                                    Ensure all content is original and engaging, Use high-quality images and videos,
                                    Engage with your audience through comments and messages and Stay up-to-date with
                                    current trends and adapt accordingly.
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="static-2">
                            <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                <button ngbAccordionButton>What are my don'ts for content creation?</button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ff-secondary">
                                    Use copyrighted material without permission, Post content that is offensive or
                                    discriminatory, Ignore feedback from your audience and Spam your followers with
                                    excessive posts.
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="static-3">
                            <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                <button ngbAccordionButton>How do you ensure the quality of your content?</button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordion-body ff-secondary">
                                    I follow a strict quality control process that includes planning, reviewing, and
                                    editing all content before it is posted. I use analytics to assess the performance
                                    of my content and make improvements as needed.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end accordion-->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end faqs -->
