<div class="profile-timeline order-status bg-white p-3">
    <div ngbAccordion activeIds="static-1">
        <div ngbAccordionItem [collapsed]="false" id="static-1">
            <div ngbAccordionHeader>
                <button ngbAccordionButton class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                        aria-expanded="true" aria-controls="collapseOne">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="assets/images/logo-sm.png" alt="Dyah Ajeng Salsabilla - Laboratory Assistant"
                                 class="avatar-xs rounded-circle material-shadow"/>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-14 mb-1">
                                Senior Product Consultant Specialist - <b>PT Propan Raya ICC</b>
                            </h6>
                            <small class="text-muted">
                                October 2019 - July 2020 | <b>Malang</b>
                            </small>
                        </div>
                    </div>
                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="accordion-body ps-5 ms-2">
                    Responsible for engaging in the marketing process for project tenders, ensuring project requirements
                    are met, and boosting sales of PT Propan products. Tasks include:
                    <ul>
                        <li>
                            Actively preparing and executing marketing strategies to secure project tenders, identifying
                            project needs, and drafting appropriate proposals.
                        </li>
                        <li>
                            Ensuring PT Propan products meet project specifications by offering suitable and
                            comprehensive solutions.
                        </li>
                        <li>
                            Enhancing PT Propan product sales by leveraging tender opportunities and expanding networks
                            within the construction industry.
                        </li>
                        <li>
                            Continuously analyzing the market and identifying potential project opportunities to ensure
                            effective tender participation and overall sales growth.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ngbAccordionItem [collapsed]="false" id="static-2">
            <div ngbAccordionHeader>
                <button ngbAccordionButton class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                        aria-expanded="false" aria-controls="collapseTwo">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="assets/images/logo-sm.png" alt="Dyah Ajeng Salsabilla - Laboratory Assistant"
                                 class="avatar-xs rounded-circle material-shadow"/>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-14 mb-1">
                                Product Consultant - <b>PT Propan Raya ICC</b>
                            </h6>
                            <small class="text-muted">
                                January 2019 - July 2019 | <b>Probolinggo</b>
                            </small>
                        </div>
                    </div>
                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="accordion-body ps-5">
                    Responsible for achieving sales targets and providing product education to consumers. Handle
                    customer inquiries about products and offer solutions that meet their needs. Key competencies
                    include:
                    <ul>
                        <li>
                            Developing effective marketing strategies and increasing the visibility of PT Propan
                            products in newly opened branch areas.
                        </li>
                        <li>
                            Building strong relationships with customers and stores at the new branch locations.
                        </li>
                        <li>
                            Performing routine maintenance on paint mixing machines and managing stock and product
                            displays in the newly opened branch stores.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ngbAccordionItem [collapsed]="false" id="static-3">
            <div ngbAccordionHeader>
                <button ngbAccordionButton class="accordion-button p-2 shadow-none" data-bs-toggle="collapse"
                        aria-expanded="false" aria-controls="collapseTwo">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="assets/images/logo-sm.png" alt="Dyah Ajeng Salsabilla - Laboratory Assistant"
                                 class="avatar-xs rounded-circle material-shadow"/>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-14 mb-1">
                                Product Consultant Intern - <b>PT Propan Raya ICC</b>
                            </h6>
                            <small class="text-muted">
                                September 2018 - December 2018 | <b>Sidoarjo</b>
                            </small>
                        </div>
                    </div>
                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="accordion-body ps-5">
                    Responsible for understanding PT Propan products, mastering product handling, and conducting
                    marketing and customer handling processes. Conduct visits to stores in designated areas to expand
                    market knowledge and customer needs. Key competencies include:
                    <ul>
                        <li>
                            Comprehensive learning about PT Propan products, including features, benefits, and
                            advantages.
                        </li>
                        <li>
                            Hands-on experience in handling PT Propan products, including storage, organization, and
                            customer service.
                        </li>
                        <li>
                            Regular visits to partner stores to interact with customers, introduce products, and gather
                            direct market feedback.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
