.gallery-overlay:hover {
  cursor: pointer;
}

::ng-deep .nav-link {
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  place-content: center !important;
}
