<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)" (window:scroll)="windowScroll()">
    <!-- Begin page -->
    <div class="layout-wrapper landing">
        <!-- start hero section -->
        <section class="section pb-0 hero-section" id="hero">
            <div class="bg-overlay bg-overlay-pattern">
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-sm-10">
                        <div class="text-center mt-lg-5 py-5">
                            <h1 class="display-6 fw-semibold mb-2 lh-base">
                                Hi, I'm
                                <span class="text-primary fw-bold">
                                Dyah Ajeng Salsabilla
                            </span>
                                !
                            </h1>
                            <p class="lead text-muted lh-base mb-3">
                                Welcome to my portfolio! With a passion and experience as quality control, marketing,
                                and
                                content
                                creator, I strive to deliver excellence in every project that i involved in. Let's
                                connect
                                and explore how we
                                can work together to bring your ideas to life.
                            </p>

                            <hr>

                            <div class="d-flex gap-2 justify-content-center mt-4">
                                <a href="https://www.instagram.com/aajengsalsabilla" target="_blank"
                                   class="btn btn-outline-danger btn-icon waves-effect waves-light material-shadow-none">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                                <a href="https://www.tiktok.com/@aajengsalsabilla" target="_blank"
                                   class="btn btn-outline-dark btn-icon waves-effect waves-light material-shadow-none">
                                    <i class="bx bxl-tiktok"></i>
                                </a>
                                <a href="https://x.com/dyahajengsalsa" target="_blank"
                                   class="btn btn-outline-info btn-icon waves-effect waves-light material-shadow-none">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/dyahajengsalsabilla" target="_blank"
                                   class="btn btn-outline-primary btn-icon waves-effect waves-light material-shadow-none">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                                <a href="mailto:dyahajengsalsabilla@gmail.com" target="_blank"
                                   class="btn btn-outline-warning btn-icon waves-effect waves-light material-shadow-none">
                                    <i class="ri-mail-send-line"></i>
                                </a>
                            </div>

                            <div class="d-flex gap-2 justify-content-center my-4">
                                <a href="https://drive.google.com/file/d/1Mw6F5vkfPYIdNIES4WTLNW-_IIe4yT1H/preview"
                                   target="_blank" class="btn btn-primary">
                                    <i class="ri-survey-line align-middle me-1"></i>
                                    My Resume
                                </a>
                                <a href="https://drive.google.com/file/d/1h08b6OnaexD7oMQ8SH2gwPq-Az3GaV5S/preview"
                                   target="_blank" class="btn btn-success">
                                    <i class="ri-bank-card-line align-middle me-1"></i>
                                    Want Hire me? get my rate card
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
            <div class="position-absolute start-0 end-0 bottom-0 hero-shape-svg">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 1440 120">
                    <g mask="url(&quot;#SvgjsMask1003&quot;)" fill="none">
                        <path d="M 0,118 C 288,98.6 1152,40.4 1440,21L1440 140L0 140z">
                        </path>
                    </g>
                </svg>
            </div>
            <!-- end shape -->
        </section>
        <!-- end hero section -->

        <app-overview></app-overview>
        <app-portofolio></app-portofolio>
        <app-faq></app-faq>
        <app-footer></app-footer>

        <!--start back-to-top-->
        <button (click)="topFunction()" class="btn btn-primary btn-icon landing-back-top" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->
    </div>
</div>
